Host *
  UseKeychain yes
  AddKeysToAgent yes
Host saba saba.cbio.mskcc.org
  ForwardAgent yes
  Hostname saba.cbio.mskcc.org
Host hal hal.cbio.mskcc.org
  ForwardAgent yes
  Hostname hal.cbio.mskcc.org
